/* reset all default style */

:root{
    --blue:#0065FC;
    --lightblue:#DEEBFF;
    --grey:#F2F2F2;
}

.html,body{
    font-family: Raleway;
    margin: 20px;
    overflow-x: hidden;
}

/*Desktop*/

/* HEADER */

.en-tete{
    display: flex;
    align-items: center; 
    height: 100px;
    width: auto;
    margin-bottom: 10px;
}

.logo{
    display: flex;
    align-items: center;
    height: 100%;
    width: 55%;
    cursor: pointer;
}

.logo img{
    height: auto;
    width: 140px;
}

.nav-hebergements{
    height: 100%;
    width: 15%;
    cursor: pointer;
}

.nav-hebergements a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    height: 100%;
}

.nav-hebergements a:hover{
    color: var(--blue);
    border-top: 1px solid var(--blue);
    height: 100%;
    text-decoration: none;
}

.nav-activites{
    height: 100%;
    width: 15%;
    cursor: pointer;
}

.nav-activites a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    height: 100%;
}

.nav-activites a:hover{
    color: var(--blue);
    border-top: 1px solid var(--blue);
    height: 100%;
    text-decoration: none;
}

.nav-inscription{
    height: 100%;
    width: 15%;
    cursor: pointer;
}

.nav-inscription a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-weight: bold;
    text-decoration: none;
    height: 100%;
}

/* TITRE PAGE */

.titre-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    line-height: 0%;
    margin-bottom: 20px;
}

/* RECHERCHE */

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 500px;
    margin-bottom: 20px;
}

.icon-map{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    width: 51px;  
    background-color: var(--grey);
    border-radius: 10px 0 0 10px;
    cursor: pointer;
}

.barre-recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    width: 320px;
    border-top: var(--grey) solid 2px;
    border-bottom: var(--grey) solid 2px;
}

.barre{
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: unset;
    border-style: none;
    padding-left: 10px;
}

.bouton-search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    width: fit-content;
    color: white;
    font-weight: bold;
    font-size: unset;
    background-color: var(--blue);
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.bouton-search-icon{
    display: none;
    cursor: pointer;
}

/* FILTRES */

.filtres{
    display: flex;
    align-items:center;
    margin-bottom: 20px;
}

.titre-filtres{
    margin-right: 20px;
}

.type-filtres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--grey);
    border-radius: 50px;
    margin-right: 20px;
    white-space: nowrap;
    cursor: pointer;
}

.icon-filtres{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 50px;
    width: 50px;
    color: var(--blue);
    background-color: var(--lightblue);
    border-radius: 50px 50px 50px 50px;
    margin-left: -2px;
}

.icon-filtres:hover{
    color: var(--lightblue);
    background-color: var(--blue);
}

.option-filtres{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-weight: bold;
    border-color: var(--grey);
    border-radius: 0px 50px 50px 0px;
}

/* INFORMATION */

.information-resultat{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-bottom: 20px
}

.icon-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    color: var(--blue);
}

/* HEBERGEMENTS */

#hebergements-populaires{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.hebergements-marseille{
    display: flex;
    flex-direction: column;
    flex:70%;
    height: 600px;
    width: 100%;
    background-color: var(--grey);
    margin-right: 20px;
    border-radius: 20px;
}

.hebergements-marseille h2{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 70px;
    width: 100%;
    padding-left: 30px;
    margin: 0;
    margin-top: 10px;
}

.hebergements-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.hebergements-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 25%;
    background-color: white;
    line-height: 0%;
    border-radius: 30px;
    margin: 15px;
    box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.452);
    cursor: pointer;
}

.hebergements-item:hover{
    transform: scale(1.1);
}

.hebergements-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 98%;
    border-radius: 30px 30px 0 0;
    padding-top: 2px;
    object-fit: cover;
}

.hebergements-item h3{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 25px;
    width: 100%;
    font-size: 80%;
    font-weight: bold;
    padding-left: 35px;
    margin: 0;
}

.hebergements-item p{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 25px;
    width: 100%;
    font-size: 80%;
    padding-left: 35px;
    margin: 0;
}

.hebergements-note{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 25px;
    width: 100%;
    font-size: 80%;
    padding-left: 35px;
    margin: 0;
    color: var(--blue);
}

.afficher{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 40px;
    width: 100%;
    padding-left: 40px;
    font-size: 80%;
    font-weight: bold;
    cursor: pointer;
}

/* POPULAIRES*/

.populaires{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex:30%;
    height: 600px;
    border:1px solid var(--grey);
    background-color: var(--grey);
    border-radius: 20px;
}

.populaires-titre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.populaires-titre h2{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 70px;
    width: 100%;
    padding-left: 20px;
}

.icon-chart{
    font-size: 20px;
    padding-right: 20px;
}

.populaires-type{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.populaires-item{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    height: 135px;
    width: 90%;
    margin: 15px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.452);
    cursor: pointer;
}

.populaires-item:hover{
    transform: scale(1.1);
}

.populaires-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    min-width: 130px;
    border-radius: 30px 0 0 30px;
    padding-left: 3px;
    object-fit: cover;
}

.populaires-description{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 90%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.populaires-item h3{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 0;
    font-size: 90%;
    padding-bottom: 10px;
}

.populaires-item p{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 0;
    font-size: 70%;
    padding-bottom: 20px;
}

.populaires-note{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 25px;
    width: 100%;
    font-size: 80%;
    margin: 0;
    color: var(--blue);
}

/* ACTIVITES */

#activites{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.activites-marseille h2{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
    width: 100%;
    padding-left: 30px;
}

.activites-block{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    height: 600px;
    width: 100%;
}

.activites1{
    grid-area: 1 / 1 / 3 / 2;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.activites1:hover{
    transform: scale(1.05);
}

.activites-photo1{
    height: 100%;
    width: 90%;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

.activites-titre{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
    width: 90%;
    border-radius: 0 0 30px 30px;
    box-shadow: 5px 5px 5px 1px var(--grey);
}

.activites-titre h3{
    padding-left: 10px;
}

.activites2{
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.activites2:hover{
    transform: scale(1.05);
}

.activites-photo2{
    height: 80%;
    width: 90%;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

.activites3{
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    cursor: pointer;
}

.activites3:hover{
    transform: scale(1.05);
}

.activites-photo3{
    height: 80%;
    width: 90%;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

.activites4{
    grid-area: 1 / 3 / 3 / 4;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.activites4:hover{
    transform: scale(1.05);
}

.activites-photo4{
    height: 90%;
    width: 90%;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

.activites5{
    grid-area: 1 / 4 / 2 / 5;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.activites5:hover{
    transform: scale(1.05);
}

.activites-photo5{
    height: 80%;
    width: 90%;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

.activites6{
    grid-area: 2 / 4 / 3 / 5;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    cursor: pointer;
}

.activites6:hover{
    transform: scale(1.05);
}

.activites-photo6{
    height: 80%;
    width: 90%;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

/* FOOTER */

.pied-page{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    height: 200px;
    width: auto;
    background-color: var(--grey);
    margin-top: 40px;
    padding-top: 20px;
}

.pied-type{
    margin-left: 50px;
    width: 30%;
}

.W3C{
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-around;
}

/* MEDIA Responsive - Mobile */

@media only screen and (max-width: 600px) {

    /* Reset */

    .html,body{
        width: 90%;
        font-size: 95%;
    }

    /* HEADER */

    #header{
        width: 100%;
        height: auto;
    }

    .en-tete{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        margin-bottom: 10px;
        height: 90px;
    }
    
    .logo {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        height: 100%;
    }

    .logo img{
        width: auto;
        height: 70%;
    }
    
    .nav-hebergements{
        grid-area: 2 / 1 / 3 / 2;
        width: 100%;
        height: 100%;
    }

    .nav-hebergements a{
        border-bottom: 1px solid var(--grey);
    }

    .nav-hebergements a:hover{
        color: var(--blue);
        border-top: none;
        border-bottom: 1px solid var(--blue);
        height: 100%;
        text-decoration: none;
    }
    
    .nav-activites{
        grid-area: 2 / 2 / 3 / 3;
        width: 100%;
        height: 100%;
    }

    .nav-activites a{
        border-bottom: 1px solid var(--grey);
    }

    .nav-activites a:hover{
        color: var(--blue);
        border-top: none;
        border-bottom: 1px solid var(--blue);
        height: 100%;
        text-decoration: none;
    }
    
    .nav-inscription{
        grid-area: 1 / 2 / 2 / 3;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .nav-inscription a{
        padding-right: 20px;
    }

    /* TITRE PAGE */

    .titre-page{
        width: 95%;
        margin-bottom: 30px;
    }

    .titre-page h1{
        line-height: initial;
        margin: 5px;
    }

    /* RECHERCHE */

    .titre-page p{
        line-height: initial;
        margin: 5px;
    }

    .search{
        width: 100%;
        margin-bottom: 30px;
        align-content: center;
    }

    .bouton-search{
        display: none
    }
    
    .bouton-search-icon{
        display: block;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
        color: white;
        font-weight: bold;
        font-size: unset;
        background-color: var(--blue);
        border: none;
        border-radius: 15px;
    }

    .icon-map{
        width:20%;
    }

    .barre{
        font-size: 85%;
    }

    .barre-recherche{
        width: 60%;
    }

    /* FILTRES */

    .filtres{
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .titre-filtres{
        width: 100%;
    }

    /* HEBERGEMENTS */

    #hebergements-populaires{
        width: 100%;
        flex-direction: column;
        padding: 0;
        margin-bottom: 20px;
    }

    .hebergements-marseille{
        width: 100%;
        order: 1;
        margin: 10px;
        background-color: transparent;
    }

    .hebergements-item{
        width: 100%;
        flex: 1;
        margin: 10px 0;
    }
    .hebergements-type{
        flex-direction: column !important;
    }

    /* POPULAIRES*/

    .populaires{
        width: 100%;
        margin-bottom: 20px;
    }

    .populaires-titre{
        width: 100%;
        padding: 0;
    }

    .populaires-titre h2{
        width: 100%;
        padding-left: 30px;
    }

    .icon-chart{
        padding-right: 30px;
    }

    .populaires-type{
        width: 100%;
    }

    .populaires-item{
        min-width: 240px;
    }

    .populaires-photo{
        min-width: 130px;
    }

    .populaires-description{
        height: 90%;
        font-size: 95%;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
    }

    .populaires-description p{
        padding-bottom: 10px;
    }

    .hebergements-marseille{
        margin: 0;
    }

    .hebergements-marseille h2{
        margin: 0;
    }

    .hebergements-type{
        margin-top: 0;
        margin-bottom: 0;
    }

    /* ACTIVITES */

    #activites{
        width: 100%;
        height: auto;
        display: inline-block;
    }

    .activites-marseille{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .activites-block{
        width: 100%;
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .activites1{
        height: 190px;
        width: 100%;
        align-self: flex-start;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .activites-photo1{
        height: 70%;
    }

    .activites2{
        height: 190px;
        width: 100%;
        align-self: flex-start;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .activites-photo2{
        height: 70%;
    }

    .activites3{
        height: 190px;
        width: 100%;
        align-self: flex-start;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .activites-photo3{
        height: 70%;
    }

    .activites4{
        height: 190px;
        width: 100%;
        align-self: flex-start;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .activites-photo4{
        height: 70%;
    }

    .activites5{
        height: 190px;
        width: 100%;
        align-self: flex-start;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .activites-photo5{
        height: 70%;
    }

    .activites6{
        height: 190px;
        width: 100%;
        align-self: flex-start;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .activites-photo6{
        height: 70%;
    }

    /* FOOTER */

    .pied-page{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        font-size: 100%;
    }

    .pied-type{
        margin: 10px;
        width: 100%;
    }

}

/* MEDIA Responsive - TABLETTE */

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
    /* Reset */

    .html,body{
        margin: 30px;
    }

    /* HEADER */

    #header{
        width: 100%;
        height: auto;
    }

    .en-tete{
        width: 100%;
    }

    .logo{
        width: 40%;
    }

    .nav-hebergements{
        width: 20%;
    }

    .nav-activites{
        width: 20%;
    }

    .nav-inscription{
        width: 20%;
    }

    /* TITRE PAGE */

    .titre-page{
        width: 95%;
        line-height: 0%;
    }

    .titre-page h1{
        line-height: initial;
        margin: 5px;
    }

    .titre-page p{
        line-height: initial;
        margin: 5px;
    }

    /* RECHERCHE */

    .search{
        width: 400px;
    }

    /* FILTRES */

    .filtres{
        width: 100%;
        flex-wrap: wrap;
    }

    .titre-filtres{
        width: 100%;
    }

    /* HEBERGEMENTS */

    #hebergements-populaires{
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    .hebergements-marseille{
        width: 100%;
        order: 1;
        margin-bottom: 20px;
        background-color: transparent;
        border-color: transparent;
    }

    .hebergements-marseille h2{
        margin: 0;
    }

    .hebergements-type{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin: 0;
        flex-wrap: wrap;
        align-content: center;
    }

    .hebergements-item{
        width: 50%;
    }

    /* POPULAIRES*/

    .populaires{
        width: 100%;
        margin-bottom: 20px;
    }

    .populaires-titre{
        width: 100%;
        padding: 0;
        height: 15%;
        margin: 0;
    }

    .populaires-titre h2{
        width: 100%;
        padding-left: 30px;
        margin: 0;
    }

    .icon-chart{
        padding-right: 30px;
    }

    .populaires-type{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .populaires-item{
        width: 44%;
    }


    .populaires-photo{
        min-width: 130px;
    }

    .populaires-description{
        height: 90%;
        font-size: 95%;
        padding-left: 5px;
        padding-top: 5px;
    }

    .populaires-note{
        padding-top: 0;
    }

    /* ACTIVITES */

    #activites{
        width: 100%;
        height: auto;
        margin: 0;
        display: inline-block;
        margin-bottom: 20px;
    }

    .activites-marseille{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .activites-marseille h2{
        margin: 0;
    }


    .activites-block{
        display: flex;
        justify-content: center;
        align-content: space-around;
        flex-direction: row;
        width: 100%;
        margin: 0;
        flex-wrap: wrap;
    }

    .activites1{
        height: 45%;
        width: 33%;
        align-self: flex-start;
        margin: 0;
        padding: 10px;
    }

    .activites-photo1{
        height: 70%;
    }

    .activites-titre{
        height: 30%;
    }

    .activites2{
        height: 45%;
        width: 33%;
        align-self: flex-start;
        margin: 0;
        padding: 10px;
    }

    .activites-photo2{
        height: 70%;
    }
 
    .activites3{
        height: 45%;
        width: 33%;
        align-self: flex-start;
        margin: 0;
        padding: 10px;
    }

    .activites-photo3{
        height: 70%;
    }

    .activites4{
        height: 45%;
        width: 33%;
        align-self: flex-start;
        margin: 0;
        padding: 10px;
    }

    .activites-photo4{
        height: 70%;
    }

    .activites5{
        height: 45%;
        width: 33%;
        align-self: flex-start;
        margin: 0;
        padding: 10px;
    }

    .activites-photo5{
        height: 70%;
    }

    .activites6{
        height: 45%;
        width: 33%;
        align-self: flex-start;
        margin: 0;
        padding: 10px;
    }

    .activites-photo6{
        height: 70%;
    }

    /* FOOTER */
    
    .pied-page{
        height: auto;
    }

}