/* reset all default style */

:root{
    --blue:#0065FC;
    --lightblue:#DEEBFF;
    --grey:#F2F2F2;
    --black:black;
    --white:white;
}

.html,body{
    font-family: Raleway;
}

/* HEADER */

.en-tete{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
}

.logo img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 40%;
}

.nav-hebergements{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 140px;
    color: var(--blue);
    border-top: 1px solid var(--blue);
    text-decoration: none;
}

.nav-activites{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 140px;
    color: var(--black);
    text-decoration: none;
}

.nav-inscription{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 140px;
    color: var(--blue);
    font-weight: bold;
    text-decoration: none;
}

/* TITRE PAGE */

.titre-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    line-height: 0%;
    margin-bottom: 20px;
}

/* RECHERCHE */

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 30%;
    margin-bottom: 20px;
}

.icon-map{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    width: 51px;
    background-color: var(--grey);
    border-radius: 10px 0 0 10px;
}

.barre-recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    width: 225px;
    border-top: var(--grey) solid 2px;
    border-bottom: var(--grey) solid 2px;
}

.barre{
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: unset;
    border-style: none;
}

.bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    width: fit-content;
    color: var(--white);
    font-weight: bold;
    font-size: unset;
    background-color: var(--blue);
    border: none;
    border-radius: 0 15px 15px 0;
}

/* FILTRES */

.filtres{
    display: flex;
    align-items:center;
    margin-bottom: 20px;
}

.titre-filtres{
    margin-right: 20px;
}

.type-filtres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--grey);
    border-radius: 50px;
    margin-right: 20px;
    white-space: nowrap;
}

.icon-filtres{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 50px;
    width: 50px;
    color: var(--blue);
    background-color: var(--lightblue);
    border-radius: 50px 50px 50px 50px;
    margin-left: -2px;
}

.icon-filtres:hover{
    color: var(--lightblue);
    background-color: var(--blue);
}

.option-filtres{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--black);
    font-weight: bold;
    border-color: var(--grey) solid 3px;
    border-radius: 0px 50px 50px 0px;
}

/* INFORMATION */

.information-resultat{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-bottom: 20px
}

.icon-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    color: var(--blue);
}

/* HEBERGEMENTS */

#hebergements-populaires{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.hebergements-marseille{
    display: flex;
    flex-direction: column;
    flex:70%;
    height: 600px;
    width: 100%;
    border:1px solid var(--grey);
    background-color: var(--grey);
    margin-right: 20px;
    border-radius: 20px;
}

.hebergements-marseille h2{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 70px;
    width: 100%;
    padding-left: 30px;
    margin: 0;
    margin-top: 10px;
}

.hebergements-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.hebergements-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 25%;
    background-color: var(--white);
    line-height: 0%;
    border-radius: 30px;
    margin: 15px;
    box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.452);
}

.hebergements-item:hover{
    transform: scale(110%);
}

.hebergements-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 98%;
    border-radius: 30px 30px 0 0;
    padding-top: 2px;
    object-fit: cover;
}

.hebergements-item h3{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 25px;
    width: 100%;
    font-size: 80%;
    font-weight: bold;
    padding-left: 35px;
    margin: 0;
}

.hebergements-item p{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 25px;
    width: 100%;
    font-size: 80%;
    padding-left: 35px;
    margin: 0;
}

.hebergements-note{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 25px;
    width: 100%;
    font-size: 80%;
    padding-left: 35px;
    margin: 0;
    color: var(--blue);
}

.afficher{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 40px;
    width: 100%;
    padding-left: 40px;
    font-size: 80%;
    font-weight: bold;
}

/* POPULAIRES*/

.populaires{
    display: flex;
    flex-direction: column;
    flex:30%;
    height: 600px;
    border:1px solid var(--grey);
    background-color: var(--grey);
    margin-right: 20px;
    border-radius: 20px;
}

.populaires-titre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}

.populaires-titre h2{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 70px;
    width: 100%;
    margin: 0;
}

.icon-chart{
    font-size: 20px;
}

.populaires-type{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.populaires-item{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    height: 135px;
    width: 90%;
    margin: 15px;
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.452);
}

.populaires-item:hover{
    transform: scale(110%);
}

.populaires-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    border-radius: 30px 0 0 30px;
    padding-left: 3px;
    object-fit: cover;
}

.populaires-description{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.populaires-item h3{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 0;
    font-size: 90%;
    padding-bottom: 10px;
}

.populaires-item p{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 0;
    font-size: 80%;
}

.populaires-note{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 25px;
    width: 100%;
    font-size: 80%;
    margin: 0;
    color: var(--blue);
    padding-top: 30px;
}
