/* reset all default style */

:root{
    --blue:#0065FC;
    --lightblue:#DEEBFF;
    --grey:#F2F2F2;
    --black:black;
    --white:white;
}

.html,body{
    font-family: Raleway;
}

/* HEADER */

.en-tete{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
}

.logo img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 40%;
}

.nav-hebergements{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 140px;
    color: var(--blue);
    border-top: 1px solid var(--blue);
    text-decoration: none;
}

.nav-activites{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 140px;
    color: var(--black);
    text-decoration: none;
}

.nav-inscription{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 140px;
    color: var(--blue);
    font-weight: bold;
    text-decoration: none;
}

/* TITRE PAGE */

.titre-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    line-height: 0%;
    margin-bottom: 20px;
}

